

#data-container {
    width: 50%;
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px;
    background-color: #fff; /* Fundo branco */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  }
  
  #data-container > div {
    margin-bottom: 15px; /* Espaçamento entre as informações */
    padding: 10px;
    border: 1px solid #ddd; /* Borda leve ao redor de cada bloco */
    border-radius: 8px; /* Bordas arredondadas para os blocos */
    background-color: #f9f9f9; /* Fundo leve para contraste */
  }

  #data_container p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}